body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #7f6df2;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    color: #ffffff;
}

.logo {
    width: 3vw;
}

header a, button {
    width: 3vw;
    background: none;
    border: none;
}

header a img {
    width: 3vw;
}

header button img {
    width: 3vw;
}

#notification-container {
    display: none;
    position: sticky;
    top: 0;
}

#notification-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7f6df2;
    border: 1px solid #ffffff;
}

#notification-container p {
    color: white;
    padding-left: 1rem;
}

#notification-container button {
    cursor: pointer;
}

.container {
    min-height: 81vh;
    margin-inline: 2vw;
}

footer {
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    background-color: #7f6df2;
    color: #ffffff;
    bottom: 0;
    position: relative;
    width: 100%;
}