body {
    background-color: #f8f9fa;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: tomato;
}

#active {
    color: tomato;
}
